<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <script src="/bower/jquery/dist/jquery.min.js"></script>
  <script src="/bower/jquery-ui/jquery-ui.min.js"></script>
  <script src="/bower/jquery.fancytree/dist/jquery.fancytree.min.js"></script>
  <link href="/bower/jquery.fancytree/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.customSelect/0.5.1/jquery.customSelect.js"></script>
  <script src="/javascripts/support-language.js"></script>
  <script type="text/javascript">
    var repo = 'miner_backend';
    var nowFile = '';
  </script>
  <script src="/javascripts/treeview.js"></script>
</head>

<body onload="loadTreeview()">
  <div class="container">
    <div class="function">
      <button onclick="save()">save</button>
    </div>
    <div class="con_code">
      <div class="treeView">
        <div id="tree"></div>
      </div>
      <div id="editor"></div>
      <div class="editor_option">
        Please select:
          <select id="theme" onchange="loadtheme()">
          </select>
          <select id="language" onchange="loadtheme()"></select>
      </div>
    </div>

  </div>
  <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var editor = ace.edit('editor');
    editor.setTheme('ace/theme/monokai');
    editor.session.setMode('ace/mode/javascript');
    $('select#theme').append($('<option></option>').attr('value', 0).text('Choose a theme'));
    for (var i = 0; i < themes.length; i++) {
      $('select#theme').append($('<option></option>').attr('value', themes[i]).text(themes[i]));
    }
    $('select#language').append($('<option></option>').attr('value', 0).text('Choose a language'));
    for (var i = 0; i < languages.length; i++) {
      $('select#language').append($('<option></option>').attr('value', languages[i]).text(languages[i]));
    }
    $('#theme').customSelect();
    $('#language').customSelect();

    function loadtheme() {
      editor.setTheme('ace/theme/' + $('select#theme').find(":selected").val());
      editor.session.setMode('ace/mode/' + $('select#language').find(":selected").val());
    }
  </script>
  <script src="/javascripts/request.js"></script>

</body>

</html>