<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="/javascripts/request.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/my-handling-form-page" method="post">
      <div>
        <label>Method: </label>
        <input type="text" id="reqmethod" />
      </div>
      <div>
        <label>Url: </label>
        <input type="url" id="requrl" />
      </div>
      <div>
        <label>Data: </label>
        <textarea id="reqdata"></textarea>
      </div>
    </form>
      <button onclick="op()">Send</button>
</body>
</html>
