
div.con_code {
  width: 100%;
}

div.function {
  color: white;
  background-color: black;
  width: 100%;
  height: 100px;
  float: right;
}

div#editor {
  margin-top:0px;
 // color: white;
  width: 85%;
  height: 550px;
  float: right;
}

div.treeView {
  color: white;
  background-color: white;
  width: 15%;
  height: 550px;
  overflow: scroll;
  position: relative;
  //text-align: center;
  float: left;
}

div.editor_option {
  color: white;
  background-color: white;
  width: 100%;
  line-height: 100px;
  text-align: center;
}
